<div class="account-settings-header">
  <h2>Account Settings</h2>
</div>
<div id="account-profile-update">
  <%= form_tag edit_profile_path do %>
    <div id="account-profile-update-textboxs">
      <%= text_field_tag 'fullname', @profile.fullname %>
      <%= text_field_tag 'website', @profile.website %>
      <%= text_field_tag 'company', @profile.company %>
      <%= text_field_tag 'location', @profile.location %>
      <%= text_field_tag 'contact', @profile.alternate_contact %>
    </div>
    <div id="account-profile-update-labels">
      <%= label_tag 'fullname', 'Full Name:' %>
      <%= label_tag 'website', 'Site or Blog:' %>
      <%= label_tag 'company', 'Company:' %>
      <%= label_tag 'location', 'Location:' %>
      <%= label_tag 'contact', 'Alternate Contact Info:' %>
    </div>
    <%= submit_tag 'Update' %>
  <% end %>
</div>

<div id="account-settings-selection">
  <ul>
    <li class="account-active-page"><%= link_to "Edit Profile", "/account/profile" %></li>
    <li><%= link_to "SSH Key", "/account/ssh" %></li>
    <li><%= link_to "Edit Account", "/account/admin" %></li>
    <li><%= link_to "Manage Emails", "/account/email" %></li>
  </ul>
</div>
